* {
  margin: 0;
  padding: 0;
  font-family: 'Public Sans', sans-serif;
  font-size: 100%;
  font-weight: 300;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
  padding-left: 40px;
  padding-right: 40px;
}

h1, h2, h3 {
  color: #2d314d;
}

h1 {
  font-size: 3.5rem;
  margin-bottom: 40px;
}

h2 {
  font-size: 38px;
  font-weight: 400;
  margin-bottom: 20px;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
}

header .nav-list {
  list-style: none;
}

header .nav-list__item {
  display: inline-block;
  margin-right: 20px;
}

header .nav-list__item a {
  font-size: 15px;
  text-decoration: none;
  color: #9698a6;
  font-weight: 400;
}

header .nav-list__item--active a {
  color: #2d314d;
}

section {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.hero-section__subtitle {
  margin-bottom: 40px;
}

p {
  color: #9698a6;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1rem;
}

.features {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 5rem;
}

.features__item {
  text-align: center;
}

.features__item img {
  margin-bottom: 35px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.articles-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 2rem;
  margin-top: 5rem;
}

.article-card {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: left;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.article-card img {
  height: 270px;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-card__text-block {
  padding: 2.5rem;
}

.article-card__author {
  font-size: 0.8rem;
  font-weight: 400;
  color: #9698a6;
  margin-bottom: 1rem;
}

.article-card__title {
  font-size: 1.25rem;
  color: #2d314d;
  margin-bottom: 1rem;
}

.article-card__description {
  font-size: 1rem;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

button.btn__call-to-action {
  border-radius: 30px;
  background: -webkit-gradient(linear, left top, right top, from(#31d35c), to(#2bb7da));
  background: linear-gradient(to right, #31d35c, #2bb7da);
  color: white;
  font-weight: 400;
  font-size: 14px;
  padding: 15px 30px;
  border: 0;
}

.background--light-grayish-blue {
  background-color: #f3f4f6;
}

.background--very-light-gray {
  background-color: #fafafa;
}

.attribution {
  background-color: #2d314d;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 1024px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: left;
  }
  .hero-section {
    padding-top: 170px;
    padding-bottom: 170px;
  }
  .hero-section__text-block {
    width: 50%;
  }
  .why-eb-section__text-block {
    width: 50%;
  }
  .features {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .articles-container {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1440px) {
  .features {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .features__item {
    text-align: left;
  }
  .articles-container {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
/*# sourceMappingURL=style.css.map */